<div class="container-fluid">
    <h1>Coronavirus charts</h1>

    <div>
        Updated every day; data from <a href="https://github.com/CSSEGISandData/COVID-19">John Hopkins CSSE Github</a>
    </div>

    <div class="bg-light">
        <h4>Total new infections</h4>
        Shows daily reported infections
        <div class="row">
            <div class="col-md">
                <time-comparison [startWhenCasesAtLeast]="500" [countries]="countriesLinearComparison()"
                    title="Daily reported infections" [delta]=true>
                </time-comparison>
            </div>
            <div class="col-md">
            </div>
        </div>
    </div>

    <div class="bg-light">
        <h4>Total infections</h4>
        Shows total infections
        <div class="row">
            <div class="col-md">
                <time-comparison [startWhenCasesAtLeast]="20000" [countries]="countriesLinearComparison()"
                    title="Cumulative Infections">
                </time-comparison>
            </div>
            <div class="col-md">
                <time-comparison [startWhenCasesAtLeast]="20000" [countries]="allCountriesLinearComparison()"
                    title="Cumulative Infections, including US and China">
                </time-comparison>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <h4>Total infections since 1000 infections</h4>
        <div class="row">
            <div class="col-md">
                <offset-time-comparison [startWhenCasesAtLeast]="1000" [countries]="countriesLinearComparison()"
                    title="Cumulative infections since 1000 infections">
                </offset-time-comparison>
            </div>
            <div class="col-md">
                <offset-time-comparison [startWhenCasesAtLeast]="1000" [countries]="allCountriesLinearComparison()"
                    title="Cumulative infections since 1000 infections, including US and China">
                </offset-time-comparison>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <h4>Percentage increase of infections</h4>
        <div class="row">
            <div class="col-md">
                <rate-of-change-comparison [startWhenCasesAtLeast]="500" [countries]="percentageComparison()"
                    title="Percentage increase of infections">
                </rate-of-change-comparison>
            </div>
        </div>
    </div>
</div>
